/* ****************
Ratina
************** */

@media (max-width: 1920px) {
}

@media (max-width: 1680px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
  .footer-nav li a {
    margin: 5px 0;
  }
}

/* ****************
Desktop
************** */

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
}

@media (max-width: 991px) {
  ul.mobile-menu {
    display: block;
  }
  .overlay-menu .form-control {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  .overlay-menu form i {
    position: absolute;
    top: 15px;
    right: 0;
    color: #fff;
    font-size: 20px;
  }
  .overlay-menu .form-control:focus {
    border-bottom: 1px solid #fff;
  }
  .left-bars {
    display: none;
  }
  .right-bars {
    display: none;
  }
  .left-menu li a {
    opacity: 0 !important;
  }
  .mobile-menu li a {
    opacity: 1 !important;
  }
  .button_container .menu-icons {
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    line-height: 1;
  }
  .button_container .search-icon {
    display: none;
  }
  .button_container.active .menu-icons {
    display: none;
  }
}

@media only screen and (max-width: 850px) and (min-width: 415px) {
  #desktopView {
    display: none;
  }
  #mobileView {
    display: block !important;
  }
  /* start mobile styling */
  #desktopView {
    display: none;
  }
  #mobileView {
    display: block !important;
  }
  .title span {
    width: 100%;
    font-size: 2.2em;
    font-weight: bolder;
    line-height: 1.3;
  }
  .kMobileMainContent {
    margin: 0 0 2px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #000;
  }
  .kMobileBody {
    padding-right: 24px;
  }
  .kMobileButton {
    padding: 2px;
  }
  .kBody ul li,
  .kTableMobileBody .name,
  .kBtnCopy,
  .col-1 .name {
    font-size: 1.2em;
  }
  /* end mobile styling */
}
@media only screen and (max-width: 768px) and (min-width: 768px) {
  /* start mobile styling */
  #desktopView {
    display: none;
  }
  #mobileView {
    display: block !important;
  }
  .title span {
    width: 100%;
    font-size: 2.2em;
    font-weight: bolder;
    line-height: 1.3;
  }
  .kMobileMainContent {
    margin: 0 0 2px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #000;
  }
  .kMobileBody {
    padding-right: 24px;
  }
  .kMobileButton {
    padding: 2px;
  }
  .kBody ul li,
  .kTableMobileBody .name,
  .kBtnCopy {
    font-size: 1.8em;
  }
  .col-1 .name {
    font-size: 1.8em;
  }
  /* end mobile styling */
}

/* **************** 
Tab 
************** */

@media (max-width: 767px) {
  .loader {
    background-size: contain;
  }
  .footer-nav li a {
    margin: 5px 0;
    display: block;
  }
  .footer-nav li .form-control {
    display: block;
    width: 160px;
    text-align: center;
  }
  .heading h1 {
    font-size: 24px;
  }
  a.cus-btn {
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    padding: 6px 20px;
    margin: 5px 0;
  }
  .fo-content p {
    margin-bottom: 15px;
  }
  .logo {
    float: left;
    text-align: left;
  }
  .logo img,
  .title {
    height: 80px;
  }
  .title {
    width: 80%;
  }
  .title span {
    line-height: 1.3;
    font-size: 1.7em;
  }
  .left-menu {
    float: left;
  }
}

@media (max-width: 575px) {
  .loader {
    background-size: contain;
  }
  .heading h1 {
    font-size: 20px;
  }
  .heading h5 {
    color: #fff;
    font-size: 13px;
  }
  .button_container .menu-icons {
    line-height: 1;
  }
  .heading {
    position: absolute;
    top: 40%;
    z-index: 2;
  }
  .logo {
    float: left;
    text-align: left;
  }
  .logo img,
  .title {
    height: 70px;
  }
  .title {
    width: 80%;
  }
  .title span {
    line-height: 1.3;
    font-size: 1.5em;
  }
  .left-menu {
    float: left;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  /* start mobile styling */
  #desktopView {
    display: none;
  }
  #mobileView {
    display: block !important;
  }
  .title span {
    width: 100%;
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 1.3;
  }
  .kMobileMainContent {
    margin: 0 0 2px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #000;
  }
  .kMobileButton {
    padding: 2px;
  }
  .col-1 .name {
    font-size: 0.8em;
  }
  /* end mobile styling */
  .loader {
    background-size: contain;
  }
  .button_container .menu-icons {
    line-height: 0;
  }
  .button_container.active .colsee {
    display: block;
    font-size: 24px;
    color: #fff;
    margin-top: -10px;
  }
  .logo {
    float: left;
    text-align: left;
  }
  .logo img,
  .title {
    height: 60px;
  }
  .title {
    width: 75%;
  }
  .left-menu {
    float: left;
  }
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .zid-footer-link {
    font-size: 0.8em;
  }
  .fab,
  .fas {
    font-size: 1.2em;
  }
  h1 {
    font-size: 24px;
  }
}

/* **************** 
Mobile 
************** */

@media (max-width: 375px) {
  .loader {
    background-size: contain;
  }
}

@media (max-width: 360px) {
  .col-1 .name,
  .kTableMobileBody .name,
  .kBtnCopy {
    font-size: 0.8em;
  }
  .loader {
    background-size: contain;
  }
}

@media (max-width: 320px) {
  .col-1 .name {
    font-size: 0.6em;
  }
  .title {
    width: 72%;
  }
  .title span {
    font-size: 1.2em;
  }
  .kTableMobileBody {
    padding-right: 8px;
  }
  .loader {
    background-size: contain;
  }
}
