/* **********************************
Reset CSS
************************************** */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.kMainRow {
    padding-left: 15px;
    padding-right: 15px;
}

.kHeading {
    display: block;
    text-align: center;
    background-color: #e2ded3;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
}

.kHeading ul li {
    color: #606060;
    font-size: 0.8em;
    font-weight: bold;
}

.kBody {
    display: block;
    text-align: center;
    background-color: #857671;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
}

.kBody ul li {
    color: #f3f3f3;
    font-size: 1em;
}

.kBtnCopy {
    width: 100%;
    height: 100%;
    background-color: #ff6d24;
    border: none;
}

.kBtnCopy:hover {
    background-color: #4e413b;
}

.clear-text {
    margin-top: 20px;
}


/********************************
 Typography Style
******************************** */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
}

html {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}


/*-------------------------
loader
----------------------------*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loading-2.gif") 50% 50% no-repeat #000;
}

.scrolltotop {
    color: #fff;
    background-color: rgba(54, 54, 54, 1);
    padding: 6px 12px;
    position: fixed;
    line-height: 1;
    right: 15px;
    bottom: 10px;
    text-decoration: none;
    display: none;
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.4s ease;
    z-index: 999;
}

.scrolltotop:hover {
    color: #fff;
    background-color: #000;
    transition: all 0.4s ease;
}


/* **********************
menu 
****************************/

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}


/* ***********************
header-area
************************ */

.header-area {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navigation {
    overflow: hidden;
    padding: 15px 0;
    transition: all 0.4s ease;
    position: relative;
    background: #282828;
    border-bottom: 1px solid #454d55;
}

.left-menu {
    width: 40%;
    float: left;
}

.right-menu {
    width: 40%;
    float: right;
    text-align: right;
}

.logo {
    width: 33%;
    float: left;
    text-align: center;
}

.logo img,
.title {
    height: 100px;
}

.title {
    text-align: center;
    width: 33%;
    float: right;
}

.title span {
    line-height: 100px;
    font-size: 2em;
    font-weight: bold;
    color: #f3f3f3;
}

.title a {
    text-decoration: none;
}

.title a span:hover {
    color: #e2ded3;
}

.logo a {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}

.left-bars {
    position: absolute;
    top: 18px;
    transition: all 0.4s ease;
}

.right-bars {
    position: absolute;
    top: 18px;
    right: 5px;
    transition: all 0.4s ease;
}

.left-bars span {
    display: inline-block;
    border-left: 1px solid #fff;
    margin-right: 5px;
    height: 15px;
    transition: all 0.4s ease;
}

.right-bars span {
    display: inline-block;
    border-left: 1px solid #fff;
    margin-right: 5px;
    height: 15px;
    transition: all 0.4s ease;
}

ul.mobile-menu {
    display: none;
}


/* *****************************
footer-area
******************************** */

.footer-area {
    overflow: hidden;
    padding: 40px 0;
    background: #282828;
    margin: 0 15px;
}

.copyright p {
    color: #dcdde1;
    font-size: 1em;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #f3f3f3;
}